{% include "header.html" with title=title %}
{% include "carousel.html" with list=t_media limit="1:50" %}

<div class="special">
    {% include "wordcloud.html" with list=term_counts %}
    <div id="wordcloud" style="width: inherit; height: 150px;"></div>
    <div class="caption">Word Cloud of the most frequent words in the last 24 hours of tweet acquisition.</div>
</div>

{% for t in geo %}
    {{ t.geo }}
{% endfor %}


<div class="section">
    <div class="container">
        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Emerging Tweets</h2>
                {% include "tweetlist.html" with list=t_emerging limit="0:5" %}
                <a class="btn btn-primary btn-lg" href="{% url 'et' %}" style="float: right">View More
                    ...</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Hot Tweets</h2>
                {% include "tweetlist.html" with list=t_hot limit="0:5" %}
                <a class="btn btn-primary btn-lg" href="{% url 'ht' %}" style="float: right">View More ...</a>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Influential Users</h2>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#service-one" data-toggle="tab">Academia</a>
                    </li>
                    <li><a href="#service-two" data-toggle="tab">Industry</a>
                    </li>
                    <li><a href="#service-four" data-toggle="tab">Total #Tweets</a>
                    </li>
                    <li><a href="#service-five" data-toggle="tab">#Followers</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">
                        {% include "userlist.html" with list=u_academia title='Tweet Count' %}
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        {% include "userlist.html" with list=u_industry title='Tweet Count' %}
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        {% include "userlist.html" with list=u_count title='Tweet Count' %}
                    </div>
                    <div class="tab-pane fade" id="service-five">
                        {% include "userlist.html" with list=u_follower_count title='Follower Count' %}
                    </div>

                </div>
            </div>

        </div>
        <!-- /.row -->
        <a class="btn btn-primary btn-lg" href="{% url 'usr' %}" style="float: right">View More ...</a>
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
{% include "footer.html" %}
