<ul class="media-list">
    {% for user in list %}
        <li class="media">
            <div class="btn-group-vertical pull-left">
                <a type="button" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-hand-up"></span>
                </a>
                <a type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-hand-down"></span>
                </a>
            </div>

            <a class='pull-left' href="http://twitter.com/{{ user.userInfo.screenName }}"
               target="_blank">
                <img class="media-object" src="{{ user.userInfo.profileImageUrl }}"
                     alt="..." height="48"
                     width="48">
            </a>

            <div class="media-body">
                <h4 class="media-heading">
                    <a href="http://twitter.com/{{ user.userInfo.screenName }}" target="_blank">
                        <b class="text-success">{{ user.userInfo.name }}</b>
                    </a>
                    {% if user.userInfo.description|length > 2 %}
                        {{ ':' }}
                    {% endif %}
                    {{ user.userInfo.description|safe }}</h4>
                {{ title }} : {{ user.score }}
            {{ user.score }}
            </div>
        </li>
    {% endfor %}
</ul>